Java-code/java_advanced/day19/src/com/java_learn/p3_xml/schema/stus.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.briup.com" elementFormDefault="qualified">

    <element name="students">
        <complexType>
            <sequence maxOccurs="unbounded">
                <element name = "student">
                    <complexType>
                        <sequence>
                            <element name = "name" type="string"/>
                            <element name = "age" type="int"/>
                        </sequence>
                        <attribute name = "id" type="string"/>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>